<template class="task-template">
  <div class="row hidden default-content" id="scw-menu-run-content">
    <div class="col">
      <div class="row" style="height: 302px;">
        <div class="flex-25 p-2 bg-info rounded mx-1">
          <div class="row">
            <h4
              class="col heading-scw-content font-weight-bold text-center"
            ></h4>
          </div>

          <div class="row">
            <div class="scw-menu-col-0 col"></div>
          </div>
        </div>

        <div class="flex-20 p-2 bg-success rounded mx-1">
          <div class="row">
            <h4
              class="col heading-scw-content font-weight-bold text-center"
            ></h4>
          </div>
          <div class="row">
            <div class="scw-menu-col-1 col"></div>
          </div>
        </div>

        <div class="flex-20 p-2 bg-warning rounded mx-1">
          <div class="row">
            <h4
              class="col heading-scw-content font-weight-bold text-center"
            ></h4>
          </div>
          <div class="row">
            <div class="scw-menu-col-2 col"></div>
          </div>
        </div>
      </div>


      <div class="row" style="height: 275px; margin-top: 7px;">
        <div class="flex-20 p-2 bg-success rounded mx-2">
          <div class="row">
            <h4
              class="col heading-scw-content font-weight-bold text-center"
            ></h4>
          </div>
          <div class="row">
            <div class="scw-menu-col-3 col"></div>
          </div>
        </div>

        <div class="flex-20 p-2 bg-warning rounded mx-1">
          <div class="row">
            <h4
              class="col heading-scw-content font-weight-bold text-center"
            ></h4>
          </div>
          <div class="row">
            <div class="scw-menu-col-4 col"></div>
          </div>
        </div>

        <div class="flex-222 p-2 bg-info rounded mx-2">
          <div class="row">
            <h4
              class="col heading-scw-content font-weight-bold text-center"
            ></h4>
          </div>
          <div class="row">
            <div class="scw-menu-col-5 col"></div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 5px;">
        <div class="col">
          <button
            class="btn btn-lg btn-block btn-dark show-section scw-cancel" style="font-weight: 500;"
            data-section="on-production"
          >
            CANCEL
          </button>
        </div>
        <!-- <div class="col">
          <button class="btn btn-lg btn-block btn-dark">
            CONFIRM RFID
          </button>
        </div> -->
      </div>
    </div>
  </div>
</template>
