<template class="task-template">
  <div class="row mt-5 hidden" id="scw-step-4-content">
    <div class="col"></div>

    <div class="col-8 rounded py-3 mx-3">
      <h1 class="font-weight-bold">CONFIRMATION</h1>
      <div class="mt-5 row">
        <div
          class="border-0 bg-secondary text-light part-info col-4 p-2 auth-confirm model-2 scw-maintenance"
          data-auth-session="scw"
          data-auth-nth="1"
          data-auth-name="maintenance"
        ></div>
        <div
          class="border-0 bg-light text-dark part-info col p-2 font-weight-bold auth-confirm-title"
        >
          SCAN YOUR ID
        </div>
      </div>

      <div class="row mt-3">
        <div class="border-0"></div>
        <div class="border-0 col p-2 font-weight-bold"></div>
      </div>

      <div class="row mt-3">
        <div
          class="border-0 bg-secondary text-light part-info col-4 p-2 auth-confirm model-2 auth-confirm-debug-two"
          data-auth-session="scw"
          data-auth-nth="0"
          data-auth-name="operator"
        ></div>
        <div
          class="border-0 bg-light text-dark part-info col p-2 font-weight-bold auth-confirm-title"
        >
          SCAN YOUR ID
        </div>
      </div>

      <div class="row mt-3">
        <div class="border-0"></div>
        <div class="border-0 col p-2 font-weight-bold"></div>
      </div>
    </div>

    <div class="col"></div>
  </div>
</template>
