<template class="task-template">
  <div class="row mt-5 hidden" id="scw-step-2-content">
    <!--
		<div class="col"></div>
-->

    <div class="col-6 rounded py-3 mx-3">
      <div class="row">
        <h2
          class="col bg-primary font-weight-bold text-center scw-problem-category py-4"
        >
          MAINTENANCE
        </h2>
      </div>

      <div class="row">
        <h3
          class="col bg-success text-light font-weight-bold text-center scw-problem-name py-4"
        >
          MAINTENANCE
        </h3>
      </div>

      <div class="row">
        <h2
          class="col bg-warning text-dark font-weight-bold text-center scw-problem-utilityscw py-4"
        >
          Utility Abnormality
        </h2>
      </div>

      <div class="row">
        <h2
          class="col bg-light text-dark font-weight-bold text-center scw-problem-process py-4"
        >
          Perbaikan
        </h2>
      </div>
    </div>

    <div class="col">
      <div
        class="border-0 rounded part-info name col scw-testing"
        style="line-height: 50px"
      >
        <span class="auth-confirm-title">Please Scan Your RFID</span>
        <br />
        <span
          class="font-weight-bold shift-operator text-primary auth-confirm auth-confirm-debug model-1"
          data-auth-session="scw"
          data-auth-box-style="1"
          data-auth-nth="0"
          >OPERATOR</span
        >
      </div>
    </div>
  </div>
</template>
