<template class="task-template">
  <div class="row mt-5 hidden" id="scw-step-3-content">
    <div class="col-6 rounded py-3 mx-3">
      <div class="row">
        <h2
          class="col bg-primary font-weight-bold text-center scw-problem-category py-4"
        >
          UTILITY
        </h2>
      </div>

      <div class="row">
        <h3
          class="col bg-success text-light font-weight-bold text-center scw-problem-name py-4"
        >
          UTILITY
        </h3>
      </div>

      <div class="row">
        <h2
          class="col bg-warning text-dark font-weight-bold text-center scw-problem-utilityscw py-4"
        >
          Utility Abnormality
        </h2>
      </div>

      <div class="row">
        <h2
          class="col bg-success text-light font-weight-bold text-center scw-problem-process py-4"
        >
          Perbaikan
        </h2>
      </div>

      <div class="row">
        <h2
          class="col bg-light text-dark font-weight-bold text-center scw-problem-process py-4"
        >
          Trial
        </h2>
      </div>
    </div>

    <div class="col"></div>

    <div class="col-5">
      <div
      class="border-0 rounded part-info name col scw-testing"
      style="line-height: 50px"
    >
      <span class="auth-confirm-title">Please Scan Your RFID</span>
      <br />
      <span
        class="font-weight-bold shift-operator text-primary auth-confirm auth-confirm-debug model-1"
        data-auth-session="scw"
        data-auth-box-style="1"
        data-auth-nth="0"
        >OPERATOR</span
      >
    </div>
      <div class="row mb-5">
        <div class="wrapper-btn-ng-scw"></div>
        <!-- <div class="col">
          <button
            class="btn btn-block btn-primary py-5 flex-fill bd-highlight mt-5 font-weight-bold production-button show-popup ng-menu"
            data-ng="scw"
            data-popup="ng-list"
            data-display-hold="1"
            style="height: 178px"
          >
            NG <sub>Trial</sub>
          </button>
        </div> -->

        <div class="col">
          <div
            class="rounded part-info name col p-2 py-5 t mt-5 border border-dark"
            style="height: 178px"
          >
            NG Counter<br /><span
              class="shift-pcs-ng-scw text-danger font-weight-bold"
              style="font-size: 2.8rem"
              >0</span
            >
            <sub>PCS</sub>
          </div>
        </div>
      </div>
     
    </div>
  </div>
</template>
