<template class="task-template">
  <section
    id="confirm-waiting-scan-scw-pop-popup"
    class="container-fluid popup"
  >
    <div
      class="d-flex justify-content-center align-items-center h-100 w-100 text-robotto"
    >
      <div class="wrapper-finish-pop bg-darkenblue">
        <div class="content-container mt-5">
          <div class="d-flex justify-content-between align-items-center"></div>
        </div>
        <br />
        <div
          class="border-0 rounded part-info name-confirm col scw-testing"
          style="line-height: 40px"
        >
          <div
            class="scan-auth-waiting accept-employee auth-confirm auth-confirm-debug model-1"
          >
            Waiting Scan RFID LEADER..
          </div>
        </div>
        <!-- <button class="close-confrim-scw">Close</button> -->
      </div>
    </div>
  </section>
</template>
