<template class="task-template">
  <section id="dandori-menu-pop-popup" class="container-fluid popup">
    <div
      class="d-flex justify-content-center align-items-center h-100 w-100 text-robotto"
    >
      <div class="wrapper-edit-dandori-menu-pop bg-darkenblue">
        <h1 class="heading-edit-dandori-menu-pop">
          Apakah Yakin Pilih Dandori ?
          <br />
        </h1>
        <div class="d-flex justify-content-center" style="margin-top: 20px">
          <div id="btn-accept-dandori"></div>
        </div>
      </div>
    </div>
  </section>
</template>
