<template class="task-template">
  <section id="error-queue-pop-popup" class="container-fluid popup">
    <div
      class="d-flex justify-content-center align-items-center h-100 w-100 text-robotto"
    >
      <div class="wrapper-finish-pop bg-darkenblue">
        <div class="content-container mt-2">
          <div class="d-flex justify-content-center">
            <h1 class="heading-error-queue">Terjadi Error</h1>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <p id="reason-error-queue"></p>
          </div>
        </div>
        <div
          class="d-flex justify-content-center"
          style="margin-bottom: 60px"
        ></div>
        <div class="d-flex justify-content-center" style="margin-top: 20px">
          <button class="btn-action-error-queue">OK</button>
        </div>
      </div>
    </div>
  </section>
</template>
