<template class="task-template">
  <section id="ng-menuCat-popup" class="container-fluid popup">
    <div class="d-flex justify-content-center align-items-center h-100 w-100">
      <div
        class="row py-2 pl-5 pr-5 bg-primary text-dark text-center h-100 w-100"
      >
        <div class="col">
          <h1 class="heading-NG">NG Scrap List</h1>

          <div class="row ng-menus"></div>
          <div class="ng-category"></div>

          <div class="ng-category-button-wrapper"></div>
          <div class="ng-menus-button-wrapper"></div>
        </div>
      </div>
    </div>
  </section>
</template>
