<template class="task-template">
  <section id="ng-menu-popup" class="container-fluid popup">
    <div class="d-flex justify-content-center align-items-center h-100 w-100">
      <div
        class="row py-2 pl-5 pr-5 bg-primary text-dark text-center h-100 w-100"
      >
        <div class="col">
          <h1 class="heading-NG">NG Scrap List</h1>
          <div class="row ng-menusss"></div>
          <div
            class="d-flex justify-content-between align-items-center mx-auto"
            style="width: 60%"
          >
            <button id="btn-back-ng" class="btn btn-danger btn-lg btn-ng">
              CANCEL
            </button>
            <button id="btn-confirm-ng" class="btn btn-success btn-lg btn-ng">
              CONFIRM
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
