<template class="task-template">
  <section id="scan-pengawas-pop-popup" class="container-fluid popup">
    <div
      class="d-flex justify-content-center align-items-center h-100 w-100 text-robotto"
    >
      <div class="wrapper-finish-pop bg-darkenblue">
        <div class="content-container mt-5">
          <div class="d-flex justify-content-between align-items-center">
            <div class="scan-pengawas">please scan your id</div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div id="scan-pengawas-pop" class="scan-pengawas">LEADER</div>
          </div>
        </div>
        <div
          class="d-flex justify-content-center"
          style="margin-bottom: 110px"
        ></div>
        <div class="d-flex justify-content-center" style="margin-top: 20px">
          <button class="btn-action-scan-pengawas close-popup">Batal</button>
        </div>
      </div>
    </div>
  </section>
</template>
