<template class="task-template">
    <section id="scw-utility-pop-popup" class="container-fluid popup">
      <div
        class="d-flex justify-content-center align-items-center h-100 w-100 text-robotto"
      >
        <div class="wrapper-edit-dandori-menu-pop bg-darkenblue">
          <h1 class="heading-edit-dandori-menu-pop">
            Silahkan Pilih Utility Abnormality Dahulu
            <br />
            <span id="selected-dandori-pop"></span>
          </h1>
          <div class="d-flex justify-content-center" style="margin-top: 20px">
            <button 
              class="btn-action-edit-dandori-menu-pop yes close-popup">
              OK
            </button>
          </div>
        </div>
      </div>
    </section>
  </template>
  