<template class="task-template">
  <section id="scw-menu-pop-popup" class="container-fluid popup">
    <div
      class="d-flex justify-content-center align-items-center h-100 w-100 text-robotto"
    >
      <div class="wrapper-edit-scw-menu-pop bg-darkenblue">
        <div
          class="border-0 rounded part-info name col scw-testing"
          style="
            line-height: 50px;
            margin-top: 50px;
            max-width: 500px;
            margin-left: 110px;
            margin-bottom: 130px;
          "
        >
          <span class="auth-confirm-title">Please Scan Your RFID</span>
          <br />
          <span
            class="font-weight-bold shift-operator text-primary auth-confirm auth-confirm-debug model-1"
            data-auth-session="scw"
            data-auth-box-style="1"
            data-auth-nth="0"
            >OPERATOR</span
          >
        </div>
      </div>
    </div>
  </section>
</template>
