.bg-darkenblue {
  background-color: #071d4a;
}
.wrapper-edit-dandori-menu-pop {
  display: flex;
  flex-direction: column;
  width: 742px;
  height: 230px;
  margin: 0 auto;
  border-radius: 30px;
  padding: 10px;
}
#selected-scw-pop {
  color: #ea2027;
  font-weight: 700;
  font-size: 40px;
  text-transform: capitalize;
}
.heading-edit-dandori-menu-pop {
  /* height: 150px; */
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  margin: 20px 0;
}
#selected-dandori-pop {
  color: #ea2027;
  font-weight: 700;
  font-size: 40px;
  text-transform: capitalize;
}
.kanban-edit-dandori-menu-pop {
  width: 154px;
  height: 92px;
  background-color: #00ff00;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 10px;
  color: #000;
}
.btn-action-edit-dandori-menu-pop {
  width: 195px;
  height: 60px;
  border-radius: 10px;
  padding: 10px;
  margin: 0 15px;
  font-weight: 700;
  border: none;
}
.btn-action-edit-dandori-menu-pop:focus {
  outline: none;
}
.btn-action-edit-dandori-menu-pop.yes {
  background-color: #ea2027;
}
.btn-action-edit-dandori-menu-pop-not {
  background-color: #d3d5d8;
  width: 195px;
  height: 60px;
  border-radius: 10px;
  padding: 10px;
  margin: 0 15px;
  font-weight: 700;
  border: none;
  outline: none;
}
.btn-action-edit-dandori-menu-pop-not-ok {
  background-color: #d3d5d8;
  width: 195px;
  height: 60px;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  margin-top: 20px;
  font-weight: 700;
  border: none;
  outline: none;
}
