<template class="task-template">
  <section id="break-section" class="container-fluid h-100 w-100 section">
    <div
      class="d-flex justify-content-center align-items-center h-100 w-100 bg-darkenblue"
    >
      <div class="content-container">
        <div class="wrapper-break-irm">
          <div class="title-wrapper-break-irm">
            <h1 class="text-title-break-irm">Istirahat</h1>
          </div>
          <div class="divider-break-irm"></div>
          <div class="timer-wrapper-break-irm">
            <p class="text-timer-break-irm">00:30:00</p>
          </div>
          <div class="divider-break-irm"></div>
          <div class="timer-wrapper-break-irm">
            <p class="text-timer-break-irm">
              <span
                class="shift-break-duration-actual"
                style="color: red"
              ></span>
            </p>
          </div>
          <div class="divider-break-irm"></div>
          <div class="scan-id-wrapper-break-irm">
            <h3 id="stop-timer-shift-break" class="scan-id-break-irm">
              please scan your id <br />
              operator
            </h3>
          </div>
        </div>
        <div class="wrapper-bottom-break-irm">
          <h2 class="text-title-break-irm" style="color: #fff">
            Pt. Yogya Presisi Tehnikatama Industri <br />
            Have A Nice Work
          </h2>
        </div>
      </div>
    </div>
  </section>
</template>
