<template class="task-template">
  <section id="dandori-section" class="container-fluid h-100 w-100 section">
    <div
      class="d-flex justify-content-center h-100 w-100 text-robotto bg-yellow"
    >
      <div class="content-container">
        <div class="wrapper-dandori">
          <h1 class="heading-dandori">Dandori</h1>
          <div class="wrapper-content-dandori"></div>
          <div class="d-flex justify-content-center">
            <button
              data-section="injection-resin-menu"
              class="btn-back-dandori show-section resetTimer-ir-back"
            >
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
