<template class="task-template">
  <section id="details-scw-section" class="container-fluid h-100 w-100 section">
    <div class="d-flex justify-content-center h-100 w-100 bg-red text-robotto">
      <div class="content-container">
        <h1 class="heading-scw-details">Stop-Call-Wait</h1>
        <div class="outer-wrapper-scw-details">
          <div class="wrapper-scw-details">
            <div class="wrapper-left-scw-details">
              <div
                id="title-scw-details-injection"
                class="scw-details-desc"
              ></div>
              <div class="scw-details-desc">Perbaikan</div>
            </div>
            <div class="wrapper-right-scw-details">
              <div class="time-scw-details"></div>
              <!-- <button class="finish-scw-details" id="resetTimerscw">
                Finish Trial
              </button> -->
              <div class="scan-id-scw-menu-top" id="stop-timer-scw">
                please scan your id
              </div>
              <div class="hr"></div>
              <div class="scan-id-scw-menu-bottom">Leader</div>
            </div>
          </div>
          <!-- <button class="button-back-scw-details" id="startTimerscw-back">
            Back
          </button> -->
        </div>
      </div>
    </div>
  </section>
</template>
