<template class="task-template">
  <section id="kanban-menu-section" class="container-fluid h-100 w-100 section">
    <div
      class="d-flex justify-content-center align-items-center h-100 w-100 bg-darkenblue text-robotto"
    >
      <div class="content-container">
        <div id="carousel-frame-part-id-card" class="carousel slide my-3">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="wrapper-container" id="slider-kanban-menu"></div>
              <a
                class="previous toggle-prev-frame-part-id-card"
                role="button"
                data-slide="prev"
              >
                <span>
                  <img
                    class="arrow-prev-frame-part-id-card"
                    src="assets/img/arrow.png"
                  />
                </span>
              </a>
              <a
                class="next toggle-next-frame-part-id-card"
                role="button"
                data-slide="next"
              >
                <span>
                  <img src="assets/img/arrow.png" />
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="d-flex justify-content-center align-items-center">
          <button
            class="btn-main-menu show-section"
            data-section="injection-resin-menu"
          >
            Main Menu
          </button>
        </div> -->
      </div>
    </div>
  </section>
</template>
