<template class="task-template">
  <section
    id="login-section"
    class="container-fluid h-100 w-100 section"
    style="background-color: white"
  >
    <div class="d-flex justify-content-center h-100 w-100">
      <div class="content-container">
        <h1 class="heading-login machine-name">Injection Resin</h1>
        <h2 class="subheading-login welcome">Welcome</h2>
        <div class="row">
          <img
            class="img-logo-ypti"
            src="assets/img/bdi-yogyakarta_removebg.png"
            alt="logo-ypti"
          />
        </div>
        <h2 class="subheading-login">Balai Diklat Industri Yogyakarta</h2>
        <h3 class="subsub-login">Have a nice work</h3>
        <div class="row position-relative">
          <img
            class="rfid image-rfid start-shift"
            src="assets/img/rfid-icon.png"
            alt="rfid-icon"
          />
          <img class="image-dcs" src="assets/img/DCS_VectorX5 1.svg" />
	  <div id="rfid-write-auth"></div>
          <!--<button
            class="button-writerfid accept-verification"
            id="rfid-write-auth"
          >
            Write RFID
	  </button>-->
        </div>
        <p class="paragraph-login auth-confirm-title">Please Scan Your ID</p>
      </div>
    </div>
  </section>
</template>
