<template class="task-template">
  <section id="scw-menu-section" class="container-fluid section h-100 w-100">
    <div class="d-flex justify-content-center align-items-center h-100 w-100">
      <div
        class="row py-2 pl-1 pr-1 bg-danger text-light text-center h-100 w-100"
      >
        <div class="col">
          <h1 class="font-weight-bold">STOP-CALL-WAIT</h1>

          <!-- <div class="scw-contents" style="min-height: 70%"></div> -->

          <div class="row mt-3 px-3">
            <div
              class="col scw-duration-actual text-light"
              style="font-size: 4.5rem"
            >
              00:00:00
            </div>
            <div
              class="border-0 rounded part-info name col scw-testing"
              style="line-height: 50px"
            >
              <span class="auth-confirm-title">Please Scan Your RFID</span>
              <br />
              <span
                class="font-weight-bold shift-operator text-primary auth-confirm auth-confirm-debug model-1"
                data-auth-session="scw"
                data-auth-box-style="1"
                data-auth-nth="0"
                >OPERATOR</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
