<template class="task-template">
  <section id="ng-awal-section" class="container-fluid h-100 w-100 section">
    <div class="d-flex justify-content-center h-100 w-100 bg-red text-robotto">
      <div class="content-container">
        <h1 class="heading-NG">NG Awal</h1>
        <div
          id="ng-awal"
          class="d-flex align-items-center justify-content-center"
        >
          <!-- start injection -->
          <div class="wrapper-left-NG wrapper-injection-factor-NG">
            <h2 class="heading-menu-NG"></h2>
            <div
              id="list-ng-injection-factor"
              class="d-flex align-items-center justify-content-between"
              style="flex-wrap: wrap"
            ></div>
          </div>
          <!-- end injection -->
          <!-- start matl -->
          <div class="wrapper-left-NG wrapper-matl-factor-NG">
            <h2 class="heading-menu-NG"></h2>
            <div
              id="list-ng-matl"
              class="d-flex align-items-center justify-content-between"
              style="flex-wrap: wrap"
            ></div>
          </div>
          <!-- end matl -->
          <!-- start handling -->
          <div class="wrapper-right-NG wrapper-handling-factor-NG">
            <h2 class="heading-menu-NG"></h2>
            <div
              id="list-ng-handling"
              class="d-flex align-items-center justify-content-center"
              style="flex-wrap: wrap"
            ></div>
          </div>
          <!-- end handling -->
          <!-- start equipment -->
          <div class="wrapper-right-NG wrapper-equipment-factor-NG">
            <h2 class="heading-menu-NG"></h2>
            <div
              id="list-ng-equipment"
              class="d-flex align-items-center justify-content-center"
              style="flex-wrap: wrap"
            ></div>
          </div>
          <!-- end equipment -->
        </div>
        <!-- start button bot -->
        <div class="d-flex justify-content-center">
          <button
            class="btn-back-NG show-section"
            data-section="injection-resin-menu"
          >
            Back
          </button>
        </div>
        <!-- end button bot -->
      </div>
    </div>
  </section>
</template>
