<template class="task-template">
  <section id="part-info-section" class="container-fluid h-100 w-100 section">
    <div class="d-flex justify-content-center h-100 w-100 bg-darkenblue">
      <div class="content-container text-robotto">
        <div class="wrapper-flex-part mt-4">
          <div class="flex-22">
            <div class="title-text-part-info-injection-resin">Customer</div>
            <div
              class="content-text-part-info-injection-resin"
              id="part-customer-info"
            ></div>
          </div>
          <div class="flex-22">
            <div class="title-text-part-info-injection-resin">
              <span>Cavity</span>
            </div>
            <div
              class="content-text-part-info-injection-resin"
              id="part-cavity-info"
            ></div>
          </div>
          <div class="flex-22">
            <div class="title-text-part-info-injection-resin">
              <span>Cycle Time</span>
            </div>
            <div
              class="content-text-part-info-injection-resin"
              id="part-ct-info"
            ></div>
          </div>
          <div class="flex-22">
            <div class="title-text-part-info-injection-resin">
              <span>QTY / KBN</span>
            </div>
            <div
              class="content-text-part-info-injection-resin"
              id="part-qty-info"
            ></div>
          </div>
        </div>
        <div class="wrapper-flex-part">
          <div class="flex-22">
            <div class="title-text-part-info-injection-resin">
              <span>Material</span>
            </div>
            <div
              class="content-text-part-info-injection-resin"
              id="part-material-info"
            ></div>
          </div>
        </div>
        <div class="wrapper-flex-part">
          <div class="flex-25">
            <div class="title-text-part-info-injection-resin bottom">
              <span>Part No</span>
            </div>
          </div>
          <div class="flex-75">
            <div
              id="part-no-part-info"
              class="content-text-part-info-injection-resin"
            ></div>
          </div>
        </div>
        <div class="wrapper-flex-part">
          <div class="flex-25">
            <div class="title-text-part-info-injection-resin bottom">
              <span>Part Name</span>
            </div>
          </div>
          <div class="flex-75">
            <div
              id="part-name-part-info"
              class="content-text-part-info-injection-resin"
            ></div>
          </div>
        </div>
        <div class="wrapper-flex-part">
          <div class="flex-25">
            <div class="title-text-part-info-injection-resin bottom image">
              <span>Image</span>
            </div>
          </div>
          <div class="flex-75">
            <div
              class="content-text-part-info-injection-resin image"
              id="part-image"
            ></div>
          </div>
        </div>
        <div class="wrapper-flex-part-bottom">
          <button
            id="btn-list-order"
            class="button-part-info-injection-resin bg-blue"
          >
            List Order
          </button>
          <button
            class="button-part-info-injection-resin bg-yellow"
            id="part-detail-kanban"
          ></button>
          <button
            id="confirm-kanban"
            class="button-part-info-injection-resin bg-green"
          >
            Confirm Product
          </button>
        </div>
      </div>
    </div>
  </section>
</template>
